@import url("https://fonts.googleapis.com/css2?family=Indie+Flower&family=Open+Sans:wght@400;700&family=Oswald:wght@400;700&display=swap");
* {
  height: 100%;
  padding: 0;
  margin: 0;
}

.container {
  height: 92%;
  display: flex;
  justify-content: center;
  background-color: whitesmoke;
}

.array-container {
  border: 3px solid rgba(0, 0, 0, 0.8);
  border-radius: 5px;
  background: white;
  width: 85%;
  height: 45em;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  -webkit-transform: scaleX(-1);
  transform: scaleY(-1);
  margin-bottom: 5em;
  margin-top: 2em;
}

.array-bar {
  width: 0.3rem;
  display: inline-block;
  margin: 30px 1px;
  border: 1px solid rgba(0, 0, 0, 0.6);
}

.navbar {
  background: rgba(0, 0, 0, 0.8);
  height: 5%;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.a {
  color: rgb(149, 235, 226);
  height: 50%;
  cursor: pointer;
  color: rgb(233, 233, 233);
  margin: 0px 25px;
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  user-select: none;
}

.a:hover {
  color: white;
  transition: color 0.5s;
}

.whiteLine {
  margin-bottom: 15em;
  height: 10px;
  width: 65%;
  z-index: 1;
}
